.index{
	min-height: 100vh;
	position: relative;
	text-align: center;
	.download-all-button{
		display: inline-block;
		line-height: 20px;
		background-color: #1ef48a;
		border: none;
	}
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}
.index-nav {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	line-height: 70px;
	background-color: #090723;
	// background-image: url('../../images/bg.jpg');
	ul li{
		margin-left: 20px;
		font-size: 25px;
		display: inline-block;
		margin-right: 20px;
		a{
			color:rgba(255,255,255,.5);
		}
		i{
			margin-right: 10px;
		}
		&>.active{
			color: #fff;
		}
	}
}
.index-content{
	position: absolute;
	padding-top: 30px;
	min-height: 70vh;
	top: 74px;
	left: 0;
	right: 0;
	width: 74vw;
	background-color: #fff;
	margin: 0 auto;
	z-index: 20;
	overflow: hidden;
	padding: 20px 46px;
	.icons-block{
		overflow: hidden;
		margin-bottom: 120px;
	}
}
.svg-item{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 20px;
	text-align: center;
	border: 1px solid transparent;
	img{
		width: 50px;
		height: 50px;
		margin-bottom: 20px;
	}
}
.svg-item.active{
	border: 1px solid #333;
	box-shadow: 1px 1px 10px 2px #CCC;
}
.svg-item:hover{
	box-shadow: 1px 1px 10px 2px #CCC;
}
.upload-content{
	overflow: hidden;
	padding-top: 30px;
}
