.index{
	min-height: 100vh;
	position: relative;
	text-align: center;
}
.index-nav {
	line-height: 70px;
	background-color: #090723;
	// background-image: url('../../images/bg.jpg');
	margin: 0 auto;
	ul li{
		margin-left: 20px;
		font-size: 25px;
		display: inline-block;
		a{
			color:rgba(255,255,255,.5);
		}
		&>.active{
			color: #fff;
		}
	}
}
.index-content{
	width: 70vw;
	background-color: #fff;
	margin: 0 auto;
	min-height: 80vh;
	overflow: hidden;
	padding: 20px 46px;
}
.svg-item{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 20px;
	text-align: center;
	img{
		width: 50px;
		margin-bottom: 20px;
	}
}
.svg-item:hover{
	box-shadow: 1px 1px 10px 2px #CCC;
    border-color: red;
}
